#blackelement{
    font-family: 'Protest Riot', sans-serif;
    color:black;
    background-color: rgb(135, 135, 81);
    border-width: 4px;
    border-radius: 6px;
    height: 100px;
    width: 1500px;
    border-color: rgb(143, 48, 48);
    border-top: 2px solid violet;
    border-left: 2cm;
    border-top: 5px;
    border-bottom: 2px;
}
#firstpara{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(147, 132, 113);
    height:55px;
    border-radius: 12px;
    border-top: 20px rgb(204, 183, 175);
  
 
}